################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskModel/bin/Debug
/TimeAnalytic/bin/Debug
/TimeAnalytic/publish
/TaskModel/obj/Release
/.vs/TimeAnalytic/v14/.suo
/TimeAnalytic/obj/Debug
/TimeAnalytic/obj
/TaskModel/obj
/TimeAnalytic.v12.suo
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_2/GemBox.Spreadsheet.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_2/TaskModel.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_2/TimeAnalytic.application
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_2/TimeAnalytic.exe.config.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_2/TimeAnalytic.exe.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_2/TimeAnalytic.exe.manifest
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_3/GemBox.Spreadsheet.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_3/TaskModel.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_3/TimeAnalytic.application
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_3/TimeAnalytic.exe.config.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_3/TimeAnalytic.exe.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_3/TimeAnalytic.exe.manifest
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_5/GemBox.Spreadsheet.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_5/TaskModel.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_5/TimeAnalytic.application
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_5/TimeAnalytic.exe.config.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_5/TimeAnalytic.exe.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_5/TimeAnalytic.exe.manifest
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_9/GemBox.Spreadsheet.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_9/TaskModel.dll.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_9/TimeAnalytic.application
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_9/TimeAnalytic.exe.config.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_9/TimeAnalytic.exe.deploy
/TimeAnalytic/publish/Application Files/TimeAnalytic_1_0_0_9/TimeAnalytic.exe.manifest
/TimeAnalytic/publish/TimeAnalytic.application
/TimeAnalytic/publish/autorun.inf
/TimeAnalytic/publish/setup.exe
