<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TimeAnalytic" type=" TaskModel.Configuraion.TimeAnalyticConfigurationSection, TaskModel" />
  </configSections>
  
  <TimeAnalytic UrlPrefixToKey="https://preciseq.atlassian.net/browse/">
    <DoneStatuses>
      <add Status="Verified by QA" />
      <add Status="Closed" />
    </DoneStatuses>
    <Tasks>
      <add Key="AL-679" Description="Process" />
      <add Key="AL-711" Description="Retrospective" />
    </Tasks>
  </TimeAnalytic>
</configuration>